---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover; min-height: 500px;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">


    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col" id="about">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contact</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Téléphone:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.emergency %}<li><strong>Urgence:</strong> {{ site.contact.emergency }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Heures de consultations</h3>
        <table>
            <tbody>
                <tr>
                    <td>Lundi – Mercredi</td>
                    <td>{{ site.monday_friday }}</td>
                </tr>
                <tr>
                    <td>Jeudi</td>
                    <td>{{ site.saturday }}</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Adresse</h3>
            <p>
                {{ site.contact.address }}
            </p>
    </div>
</div>
<!-- End 3 columns -->
<div class="jumbotron" id="vacances">
    <div class="container">
        <h1><i class="fa fa-sun-o" aria-hidden="true"></i>Vacances estivales</h1>
        <p>Le médecin sera en vancances estivales du 02/08/2018 au 12/08/2018.</p>
        <p>En cas d'urgence, veuillez contacter directement le centre 15</p>
    </div>
</div>
<!-- Start Map -->
<div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div>
<!-- End Map -->
